USE [Telecome]
GO
/****** Object:  Table [dbo].[fact_transactions]    Script Date: 30/06/2024 01:46:53 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Transaction_id] [int] NOT NULL,
	[IMSI] [varchar](9) NOT NULL,
	[subscriber_id] [int] NULL,
	[TAC] [varchar](8) NULL,
	[SNR] [varchar](6) NULL,
	[IMEI] [varchar](14) NULL,
	[CELL] [int] NOT NULL,
	[LAC] [int] NOT NULL,
	[EVENT_TYPE] [varchar](2) NULL,
	[EVENT_TS] [datetime] NOT NULL,
	[audit_id] [int] NOT NULL,
 CONSTRAINT [pk_fact_trans_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[fact_transactions] ON 

INSERT [dbo].[fact_transactions] ([id], [Transaction_id], [IMSI], [subscriber_id], [TAC], [SNR], [IMEI], [CELL], [LAC], [EVENT_TYPE], [EVENT_TS], [audit_id]) VALUES (1, 9101, N'257865245', 78663, N'18065935', N'567874', N'18065935567874', 6226, 75, N'5', CAST(N'2020-12-20T01:25:00.000' AS DateTime), -1)
INSERT [dbo].[fact_transactions] ([id], [Transaction_id], [IMSI], [subscriber_id], [TAC], [SNR], [IMEI], [CELL], [LAC], [EVENT_TYPE], [EVENT_TS], [audit_id]) VALUES (2, 9103, N'248622693', 84988, N'31066209', N'199051', N'31066209199051', 4755, 33, N'9', CAST(N'2020-12-27T05:06:00.000' AS DateTime), -1)
INSERT [dbo].[fact_transactions] ([id], [Transaction_id], [IMSI], [subscriber_id], [TAC], [SNR], [IMEI], [CELL], [LAC], [EVENT_TYPE], [EVENT_TS], [audit_id]) VALUES (3, 9104, N'866701003', 19661, N'61338362', N'724146', N'61338362724146', 2814, 48, N'2', CAST(N'2020-12-30T15:47:00.000' AS DateTime), -1)
SET IDENTITY_INSERT [dbo].[fact_transactions] OFF
GO
ALTER TABLE [dbo].[fact_transactions] ADD  DEFAULT ((-1)) FOR [audit_id]
GO
