USE [Telecome]
GO
/****** Object:  Table [dbo].[dim_imsi_reference]    Script Date: 30/06/2024 01:46:53 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_imsi_reference](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imsi] [varchar](9) NULL,
	[subscriber_id] [int] NULL,
 CONSTRAINT [pk_dim_imsi_reference_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dim_imsi_reference] ON 

INSERT [dbo].[dim_imsi_reference] ([id], [imsi], [subscriber_id]) VALUES (1, N'919106573', 62306)
INSERT [dbo].[dim_imsi_reference] ([id], [imsi], [subscriber_id]) VALUES (2, N'835424796', 12831)
INSERT [dbo].[dim_imsi_reference] ([id], [imsi], [subscriber_id]) VALUES (3, N'222893094', 14084)
GO
SET IDENTITY_INSERT [dbo].[dim_imsi_reference] OFF
GO
